@model OnlineShop.Models.Factor

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>ShoppingCart</h1>

<div>
    <h4>Factor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FactorNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FactorNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpenDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CloseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CloseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Des)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Des)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Mobile)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
